:root {
  --primary-color: #488aff;
  --disable-color: #ccc;
  --border-color: #ddd;
  --input-font-size: 0.875rem;
  --input-padding: 7px;
  --input-container-padding: 5px;
  --calendar-font-size: 1rem;
  --calendar-font-color: #022047;
  --quantity-year-columns: 4;


  --grid-breakpoints-sm: 560px;
  --grid-breakpoints-md: 768px;
  --grid-breakpoints-lg: 992px;
  --grid-breakpoints-xl: 1200px;
  --grid-breakpoints-xxl: 1600px;

  --font-family: 'sans-serif';
}
