input {
  width: 30%;
  text-align: center;
  border: none;
  border-radius: 3px;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 1px 2px #0000ff78;
}

.adl-datepicker {
  position: relative;
}

.input-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  padding: 1px;
}

.popup-container {
  list-style: none;
  margin-top: 2px;
  padding: 3px;
  position: absolute;
  z-index: 5;
  width: calc(100% - 8px);
  height: 250px;
  border-radius: 3px;
  border: 1px solid #7d7d7d;
  background-color: #ffffff;
  overflow: auto;
}

.calendar-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.grid-title {
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.grid-container {
  height: 84%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
}

.years-columns {
  grid-template-columns: repeat(auto-fill, minmax(calc(100%/6), 1fr));
}

.months-columns {
  grid-template-columns: repeat(auto-fill, minmax(calc(100%/3), 1fr));
}

.days-columns {
  grid-template-columns: repeat(auto-fill, minmax(calc(100%/7), 1fr));
}

.grid-item {
  justify-self: center;
  align-self: center;
  height: 30px;
  font-size: 14px;
}

.year-item {
  height: 30px;
}

.month-item {
  height: 30px;
}

.day-item {
  height: 30px;
}

input:disabled {
  background: #ccc;
}

.grid-element-year:hover {
	font-weight: bold;
	color: green;
	zoom: 1.2;
}

.popup-container{
	display: none;
}

.years-columns, .months-columns , .days-columns {
	display: none;
}

.show-calendar{
	display: grid;
}

.show-popup{
	display: block;
}
